<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="perfil" href="miperfil">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="notas" href="/notas">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Notas</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
